.homecontainer,.quizcontainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #40407a;
    height: 80vh;
    width: 800px;
    margin-left: 400px;
    margin-top: 100px;
}

.btnPlay{
    width: 200px;
    height: 35px;
    border-radius: 20px;
    background-color: #57b846;
    color: white;
}
.question
{
    background-color: white;
    width: 600px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.options
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.opt
{
    width: 250px;
    border-radius: 20px;
    padding:8px;
    margin: 15px;
    background-color: #1da1f2;
    border: transparent;
    color: white;
}
.btns
{
    margin: 30px; 
}

.previous{
    margin-right: 20px;
    background-color: #0c85d0;
    border: transparent;
    color: white;
}
.next
{
    background-color: #57b846;
    border: transparent;
    color: white;
}
.quit{
    margin-left: 20px;
    background-color: #ea4355;
    border: transparent;
    color: white;
}
